@media only screen and (max-width: 1300px) {
    #drop-labels {
        display: none;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}