.img-profile-responsive {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    margin-top: 2vw;
}

.fit-in-container {
    max-width: 80%;
    height: auto;
    object-fit: cover;
}

.bio {
    font-size: 50%;
}

p {
    color: black;
}

span {
    color: black;
}