.tasker_img_div {
    padding: 0;
    margin: 5% 3% 5% 10%;
}

.reviewer-profile-img {
    max-width: 50px;
    height: auto;
    object-fit: cover;
}

.name {
    font-size: small;
    white-space: nowrap;
}

.review_box {
    border-bottom: 0.25vw solid #D3D3D3;
    margin: 1% 1% 1% 1%;
    padding: 0;
}

.review_desc {
    color: black;
    font-size: small;
    margin-top: 1%;
    text-align: left;
}